[submodule "deepgov-ndi-bot"]
	path = deepgov-ndi-bot
	url = https://github.com/evalscience/deepgov-ndi-bot.git
[submodule "deepgov-bhutan"]
	path = deepgov-bhutan
	url = https://github.com/evalscience/deepgov-bhutan.git
